@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  color: inherit;
  @apply bg-transparent;
}

/* Hide scrollbars for WebKit browsers (Chrome, Safari, etc.) */
::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

/* For Firefox */
html {
  scrollbar-width: none;
  /* Firefox */
}

/* For Internet Explorer, Edge */
body {
  -ms-overflow-style: none;
  /* IE and Edge */
  @apply bg-white dark:bg-neutral-800 text-black dark:text-white;
}

body * .dark {
  @apply bg-neutral-800 text-white;
}

/* scrollbar */
/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.scrollbar {
  @apply mr-1
}

.scrollbar::-webkit-scrollbar {
  @apply w-1.5 h-1.5 cursor-pointer;
  /* [&::-webkit-scrollbar-thumb]:bg-zinc-700 [&::-webkit-scrollbar-thumb]:rounded-md [&::-webkit-scrollbar-thumb]:mr-2 [&::-webkit-scrollbar-thumb]:hover:cursor-pointer [&::-webkit-scrollbar-thumb]:hover:bg-zinc-600; */
  /* @apply [&::-webkit-scrollbar]:w-2 [&::-webkit-scrollbar]:hover:w-4 [&::-webkit-scrollbar-thumb]:bg-zinc-700 [&::-webkit-scrollbar-thumb]:rounded-md [&::-webkit-scrollbar-thumb]:mr-2 [&::-webkit-scrollbar-thumb]:hover:cursor-pointer [&::-webkit-scrollbar-thumb]:hover:bg-zinc-600; */
}

/* .scrollbar::-webkit-scrollbar:hover {
  @apply w-3
} */

.scrollbar::-webkit-scrollbar-thumb {
  @apply bg-zinc-600 rounded cursor-pointer
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  @apply bg-zinc-500
}

/*  */

.hover {
  @apply bg-white dark:bg-neutral-800 hover:bg-neutral-200 dark:hover:bg-neutral-700;
}

.active {
  @apply bg-neutral-200 dark:bg-neutral-700/50;
}


/* Scroll Bar */
.slider {
  border-radius: 1000px !important;
  cursor: pointer !important;
}

.scrollbar.vertical {
  right: 3px !important;
}

.scrollbar.vertical * .slider {
  width: 6px !important;
}

.scrollbar.horizontal {
  bottom: 3px !important;
}

.scrollbar.horizontal * .slider {
  height: 6px !important;
}

/* button */
.btn {
  @apply py-[0.2rem] px-3 rounded-lg cursor-pointer text-sm outline-none border-none;
}

.btn.primary {
  @apply bg-neutral-800 text-neutral-50 dark:bg-neutral-50 dark:text-neutral-800;
}

.btn.ghost {
  @apply hover:bg-neutral-200 dark:hover:bg-neutral-600 transition-colors
}

/*  */
.disabled {
  opacity: 0.6;
}

/* window header */
.window-icon {
  @apply w-5 h-5
}



@keyframes width-increase {
  0% {
    width: 0 !important;
  }

  100% {
    width: 100% !important;
  }
}

/* .animate-width {
  animation-name: width-increase;
  animation-timing-function: linear;
  animation-duration: var(--duration);
} */
